body {
    background-color: #F2FFFC;
    font-family: "Crimson Text", "Times New Roman", serif; 
}

h1,h2 {
    font-family: 'Open Sans Condensed', sans-serif
}

h1 {
    text-align: center;
    color: #FFF;
    background-color: #851944;
}

p {
    text-align: justify;
}